<div class="container">
   <div class="row mb-2 mt-2 text-center">
      <div class="col-4">

      </div>
      <div class="col-4">
         <h5>User management portal</h5>
         <!--observe if value changes, local var referencing to titleAction$ is title-->
         <!--todo: read about async pipes-->
         <small *ngIf="titleAction$ | async as title">{{ title }}</small>
         <i class="fas fa-sync fa-spin" [hidden]="!refreshing"></i>
      </div>
      <div class="col-4">

      </div>
   </div>

   <nav class="navbar navbar-expand-md breadcrumb">
      <div class="collapse navbar-collapse" id="navbarCollapse">
         <div class="nav nav-pills">
            <a class="nav-item nav-link active ml-1" data-toggle="tab" href="#users" (click)="changeTitle('Users')">
               <i class="fa fa-users"></i>
               Users
            </a>

            <a class="nav-item nav-link ml-4" data-toggle="tab" href="#reset-password"
               (click)="changeTitle('Settings')">
               <i class="fa fa-cogs"></i>
               Settings
            </a>

            <a class="nav-item nav-link mr-3 move-right" data-toggle="tab" href="#profile"
               (click)="changeTitle('Profile')">
               Welcome,
               <i class="fa fa-user"></i>
            </a>
         </div>
      </div>
   </nav>

   <div class="tab-content mt-3" id="tabContent">
      <!-- user table -->
      <div class="tab-pane fade show active" id="users">
         <div class="mb-3 float-right">
            <div class="btn-group mr-2">
               <div class="form-inline my-2 my-lg-0 justify-content-center">
                  <input type="search" name="searchUsers" (input)="searchUsers($event.target.value)"
                     class="form-control mr-sm-2" placeholder="Search users">
               </div>
               <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addUserModal">
                  <i class="fa fa-plus"></i>&nbsp;New User
               </button>
            </div>

            <div class="btn-group">
               <button type="button" class="btn btn-info" (click)="getUsers(true)">
                  <i class="fas fa-sync fa-spin" [hidden]="!refreshing"></i>
                  <i class="fas fa-sync" [hidden]="refreshing"></i>
               </button>
            </div>
         </div>

         <table class="table table-hover">
            <thead class="table-borderless">
               <tr class="text-center">
                  <th>Photo</th>
                  <th>User ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>E-mail</th>
                  <th>Status</th>
                  <th>Action</th>
               </tr>
            </thead>

            <tbody *ngFor="let u of users">
               <tr class="text-center">
                  <td (click)="onSelectUser(u)">
                     <!-- using '?' in src means it is optional value -->
                     <img class="rounded-circle img-fluid img-thumbnail" height="40" width="40"
                        src="{{u?.profileImageUrl}}" alt="User picture">

                  </td>
                  <td (click)="onSelectUser(u)">{{ u?.id }}</td>
                  <td (click)="onSelectUser(u)">{{ u?.firstName }}</td>
                  <td (click)="onSelectUser(u)">{{ u?.lastName }}</td>
                  <td (click)="onSelectUser(u)">{{ u?.username }}</td>
                  <td (click)="onSelectUser(u)">{{ u?.email }}</td>
                  <td (click)="onSelectUser(u)">
                     <span [hidden]="!u.isActive" class="badge badge-success">Active</span>
                     <span [hidden]="u.isActive" class="badge badge-danger">Inactive</span>
                  </td>
                  <td>
                     <div class="btn-group">
                        <button class="btn btn-outline-info" (click)="onEditUser(u)">
                           <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-outline-danger" (click)="onDeleteUser(u.id)">
                           <i class="fas fa-trash"></i>
                        </button>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>

      </div>

      <button [hidden]="true" type="button" id="openUserInfo" data-toggle="modal" data-target="#viewUserModal"></button>
      <button [hidden]="true" type="button" id="openUserEdit" data-toggle="modal" data-target="#editUserModal"></button>

      <!-- change password -->
      <div class="tab-pane fade" id="reset-password">
         <form [formGroup]="emailForm" (ngSubmit)="onResetPassword(emailForm)">
            <fieldset>
               <legend>User password managmenet</legend>
               <div class="form-group">
                  <label for="email">E-mail address</label>
                  <input type="email" name="email" required formControlName="email" class="form-control"
                     placeholder="Enter e-mail (example@mail.com)">
                  <small class="form-text text-muted">We'll never share your email with anyone else.</small>
               </div>
               <button type="submit" [disabled]="false" class="btn btn-primary">
                  <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;
                  <span *ngIf="refreshing">Loading...</span>
                  <span *ngIf="!refreshing">Reset password</span>
               </button>
            </fieldset>
         </form>
      </div>

      <!-- modal user info -->
      <div class="modal fade bd-example-modal-lg" id="viewUserModal" tabindex="-1" role="dialog" aria-labelledby=""
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title text-center" id="exampleModalLongTitle">
                     {{ selectedUser?.firstName }}&nbsp;{{ selectedUser?.lastName }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div>
                     <div class="card">
                        <div class="card-body">
                           <div class="row">
                              <div class="col-12 col-sm-auto">
                                 <div class="mx-auto" style="width: 120px;">
                                    <div class="d-flex justify-content-center align-items-center rounded">
                                       <img class="rounded" height="120" width="120" alt="{{selectedUser?.firstName}}"
                                          src="{{selectedUser?.profileImageUrl}}">
                                    </div>
                                 </div>
                              </div>
                              <div class="col d-flex flex-column flex-sm-row justify-content-between">
                                 <div class="text-center text-sm-left mb-sm-0">
                                    <h6 class="pt-sm-2 pb-1 mb-0 text-nowrap">
                                       {{ selectedUser?.firstName }}&nbsp;{{ selectedUser?.lastName }}
                                    </h6>
                                    <p class="mb-1">{{ selectedUser?.username }}</p>
                                    <div class="">Status:
                                       <span [hidden]="!selectedUser?.isActive"
                                          class="badge badge-success">Active</span>
                                       <span [hidden]="selectedUser?.isActive"
                                          class="badge badge-danger">Inactive</span>
                                    </div>
                                    <div class="text-muted">
                                       <small>
                                          Last login: {{ selectedUser?.loginDateDisplay | date }}
                                       </small>
                                    </div>
                                 </div>
                              </div>
                              <div class="col text-center text-sm-right">
                                 <div class="text-muted">
                                    <small>
                                       Joined {{ selectedUser?.joinDate | date }}
                                    </small>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                        <li class="list-group-item">
                           <i class="fa fa-id-badge float-right"></i>
                           {{ selectedUser?.userId }}
                        </li>
                        <li class="list-group-item">
                           <i class="fa fa-envelope float-right"></i>
                           {{ selectedUser?.email }}
                        </li>
                        <li class="list-group-item">
                           <i class="fa fa-shield-alt float-right"></i>
                           {{ selectedUser?.role.substring(5) }}
                        </li>
                        <li class="list-group-item" *ngIf="selectedUser?.loginDateDisplay">
                           <i class="fas fa-sign-in-alt float-right"></i>
                           {{ selectedUser?.loginDateDisplay | date: 'medium' }}
                        </li>
                        <li class="list-group-item">
                           <span [hidden]="!selectedUser?.isNotLocked">
                              <i class="fa fa-lock float-right" style="color: green"></i>
                              Account unlocked
                           </span>
                           <span [hidden]="selectedUser?.isNotLocked">
                              <i class="fa fa-lock float-right" style="color: red"></i>
                              Account locked
                           </span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- new user modal -->
      <div class="modal draggable fade bd-example-modal-lg" id="addUserModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTile" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title text-center">New user</h5>

                  <!--close button-->
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div>
                     <form [formGroup]="newUserForm" (ngSubmit)="onAddNewUser()">
                        <div class="form-group">
                           <label for="firstname">First name</label>
                           <input type="text" name="firstName" required class="form-control"
                              formControlName="firstName">
                        </div>

                        <div class="form-group">
                           <label for="lastname">Last name</label>
                           <input type="text" name="lastName" required class="form-control" formControlName="lastName">
                        </div>

                        <div class="form-group">
                           <label for="username">Username</label>
                           <input type="text" name="username" required class="form-control" formControlName="username">
                        </div>

                        <div class="form-group">
                           <label for="email">E-mail</label>
                           <input type="text" name="email" required class="form-control" formControlName="email">
                        </div>

                        <div class="form-group">
                           <label for="authority">Role</label>
                           <select name="role" required class="form-control" formControlName="role">
                              <option value="ROLE_USER">USER</option>
                              <option value="ROLE_HR">HR</option>
                              <option value="ROLE_MANAGER">MANAGER</option>
                              <option value="ROLE_ADMIN">ADMIN</option>
                              <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                           </select>
                        </div>
                        <div class="input-group mb-2">
                           <div class="input-group-prepend">
                              <span class="input-group-text">Profile picture</span>
                           </div>
                           <div class="custom-file">
                              <input type="file" name="profileImage" class="custom-file-input"
                                 (change)="onProfileImageChange($event.target.files[0].name, $event.target.files[0])">

                              <label class="custom-file-label">
                                 <span [hidden]="!profileImageFileName">{{ profileImageFileName }}</span>
                                 <span [hidden]="profileImageFileName">Choose file</span>
                              </label>
                           </div>
                        </div>
                        <fieldset class="form-group">
                           <div class="form-check">
                              <label class="form-check-label">
                                 <input type="checkbox" name="isActive" class="form-check-input"
                                    formControlName="isActive">
                                 Active
                              </label>
                           </div>
                           <div class="form-check disabled">
                              <label class="form-check-label">
                                 <input type="checkbox" name="isNotLocked" class="form-check-input"
                                    formControlName="isNotLocked">
                                 Unlocked
                              </label>
                           </div>
                        </fieldset>

                        <button type="submit" style="display: none" id="new-user-save"></button>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"
                     id="new-user-close">Close</button>
                  <button type="button" [disabled]="newUserForm.invalid" class="btn btn-primary"
                     (click)="saveNewUser()">Save
                     changes</button>
               </div>
            </div>
         </div>
      </div>

      <!-- modal edit user info -->
      <div class="modal draggable fade bd-example-modal-lg" id="editUserModal" tabindex="-1" role="dialog"
         aria-labelledby="" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title text-center" id="exampleModalLongTitle">
                     Edit {{ editUser?.firstName }}&nbsp;{{ editUser?.lastName}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div>
                     <form [formGroup]="editUserForm">
                        <div class="form-group">
                           <label for="firstname">First name</label>
                           <input type="text" name="firstName" required class="form-control"
                              [value]="editUser.firstName" formControlName="firstName">
                        </div>

                        <div class="form-group">
                           <label for="lastname">Last name</label>
                           <input type="text" name="lastName" required class="form-control" formControlName="lastName"
                              [value]="editUser.lastName">
                        </div>

                        <div class="form-group">
                           <label for="username">Username</label>
                           <input type="text" name="username" required class="form-control" formControlName="username"
                              [value]="editUser.username">
                        </div>

                        <div class="form-group">
                           <label for="email">E-mail</label>
                           <input type="text" name="email" required class="form-control" formControlName="email"
                              [value]="editUser.email">
                        </div>

                        <div class="form-group">
                           <label for="authority">Role</label>
                           <select name="role" required class="form-control" formControlName="role"
                              [value]="editUser.role">
                              <option value="ROLE_USER">USER</option>
                              <option value="ROLE_HR">HR</option>
                              <option value="ROLE_MANAGER">MANAGER</option>
                              <option value="ROLE_ADMIN">ADMIN</option>
                              <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                           </select>
                        </div>
                        <div class="input-group mb-2">
                           <div class="input-group-prepend">
                              <span class="input-group-text">Profile picture</span>
                           </div>
                           <div class="custom-file">
                              <input type="file" name="profileImage" class="custom-file-input"
                                 (change)="onProfileImageChange($event.target.files[0].name, $event.target.files[0])">

                              <label class="custom-file-label">
                                 <span [hidden]="!profileImageFileName">{{ profileImageFileName }}</span>
                                 <span [hidden]="profileImageFileName">Choose file</span>
                              </label>
                           </div>
                        </div>
                        <fieldset class="form-group">
                           <div class="form-check">
                              <label class="form-check-label">
                                 <input type="checkbox" name="isActive" class="form-check-input"
                                    formControlName="isActive" [value]="editUser.isActive">
                                 Active
                              </label>
                           </div>
                           <div class="form-check disabled">
                              <label class="form-check-label">
                                 <input type="checkbox" name="isNotLocked" class="form-check-input"
                                    formControlName="isNotLocked" [value]="editUser.isNotLocked">
                                 Unlocked
                              </label>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEditUserModalButton"
                     (click)="test(editUserForm.value)">Close</button>
                  <button type="button" class="btn btn-primary" (click)="onUpdateUser()"
                     [disabled]="editUserForm.invalid">Save changes</button>
               </div>
            </div>
         </div>
      </div>

   </div>